## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [54]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [55]:
#Generate 5 random numbers between 10 and 30
sample_list_1 = random.sample(range(0,100 ), 80)
print(len(set(sample_list_1)))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [56]:
set1 = set(sample_list_1)
len(set1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 31, 32, 33, 36, 37, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 58, 59, 60, 61, 62, 64, 66, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 95, 96, 97, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [57]:
import random
sample_list_2 = []
for i in range(0,80):
    n = random.randint(0,100)
    sample_list_2.append(n)
print(sample_list_2)

[87, 5, 5, 57, 12, 25, 75, 29, 79, 82, 2, 7, 10, 71, 23, 84, 45, 47, 26, 30, 49, 78, 13, 13, 95, 67, 98, 69, 95, 44, 91, 61, 16, 65, 66, 48, 16, 20, 43, 27, 99, 71, 20, 27, 0, 21, 42, 63, 61, 89, 72, 39, 46, 72, 96, 72, 85, 2, 75, 33, 24, 98, 15, 33, 8, 73, 92, 13, 79, 50, 19, 30, 46, 69, 27, 87, 29, 62, 87, 88]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [58]:
set2 = set(sample_list_2)
print(len(set2))
#No. It is a different length

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [59]:
set3 = set1.difference(set2)
print(set3)

{1, 3, 4, 6, 9, 14, 17, 18, 22, 28, 31, 32, 36, 37, 38, 40, 41, 51, 54, 55, 56, 58, 59, 60, 64, 68, 70, 74, 76, 77, 80, 81, 83, 86, 90, 93, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [60]:
set4 = set2.difference(set1)
print(set4)

{0, 65, 98, 67, 39, 71, 42, 12, 16, 23, 57, 92, 30, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [61]:
set5 = set1.intersection(set2)
print(set5)

{2, 5, 7, 8, 10, 13, 15, 19, 20, 21, 24, 25, 26, 27, 29, 33, 43, 44, 45, 46, 47, 48, 49, 50, 61, 62, 66, 69, 72, 73, 75, 78, 79, 82, 84, 85, 87, 88, 89, 91, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [62]:
from statistics import mean
mydatalist = [len(set1),len(set2),len(set3),len(set4),len(set5)]

print(mean(mydatalist))

46.2

#### Create an empty set called `set6`.

In [63]:
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [66]:
set6 = set3.update(set5)

print(set5)

{2, 5, 7, 8, 10, 13, 15, 19, 20, 21, 24, 25, 26, 27, 29, 33, 43, 44, 45, 46, 47, 48, 49, 50, 61, 62, 66, 69, 72, 73, 75, 78, 79, 82, 84, 85, 87, 88, 89, 91, 95, 96, 99}

#### Check if `set1` and `set6` are equal.

In [67]:
print(set1 == set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [69]:
set1.issubset(set2)
set1.issubset(set3)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [72]:
aggregate1 = set3.union(set4, set5)
aggregate2 = aggregate1.union(set1, set2)
print(aggregate2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [74]:
print(set1.pop())

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [81]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for number in list_to_remove:
    if number in set1:
        print(f" {number} is in the set")
        set1.remove(number)
print(set1)

 9 is in the set
 19 is in the set
 21 is in the set
 29 is in the set
 31 is in the set
 41 is in the set
 49 is in the set
 51 is in the set
 59 is in the set
 61 is in the set
 69 is in the set
 79 is in the set
 81 is in the set
 89 is in the set
 91 is in the set
 99 is in the set
{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 17, 18, 20, 22, 24, 25, 26, 27, 28, 32, 33, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 54, 55, 56, 58, 60, 62, 64, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 95, 96, 97}