## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [31]:
#Generate 5 random numbers between 10 and 30
sample_list_1 = random.sample(range(0,100 ), 80)
print(len(set(sample_list_1)))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [32]:
set1 = set(sample_list_1)
len(set1)
print(set1)

{0, 2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 19, 20, 21, 22, 23, 26, 27, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 64, 65, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
import random
sample_list_2 = []
for i in range(0,80):
    n = random.randint(0,100)
    sample_list_2.append(n)
print(sample_list_2)

[58, 76, 41, 11, 77, 32, 76, 27, 63, 16, 11, 95, 67, 78, 54, 60, 37, 42, 76, 64, 84, 74, 68, 94, 17, 5, 11, 24, 29, 71, 25, 68, 49, 1, 28, 91, 6, 63, 77, 48, 23, 5, 32, 1, 80, 91, 41, 94, 70, 66, 32, 85, 31, 35, 82, 4, 32, 66, 73, 94, 45, 45, 87, 92, 20, 99, 94, 46, 33, 86, 43, 83, 17, 99, 44, 68, 47, 65, 27, 15]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [34]:
set2 = set(sample_list_2)
print(len(set2))
#No. It is a different length

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [36]:
set3 = set1.difference(set2)
print(set3)

{0, 2, 3, 7, 8, 10, 12, 14, 19, 21, 22, 26, 30, 34, 36, 38, 40, 50, 51, 52, 53, 56, 57, 61, 62, 69, 72, 75, 79, 81, 88, 89, 90, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [37]:
set4 = set2.difference(set1)
print(set4)

{32, 1, 66, 5, 74, 11, 45, 24, 25, 28, 95, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [38]:
set5 = set1.intersection(set2)
print(set5)

{4, 6, 15, 16, 17, 20, 23, 27, 29, 31, 33, 35, 37, 41, 42, 43, 44, 46, 47, 48, 49, 54, 58, 60, 64, 65, 67, 68, 70, 71, 73, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 91, 92, 94, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [49]:
from statistics import mean
mydatalist = [len(set1),len(set2),len(set3),len(set4),len(set5)]

print(mean(mydatalist))

45.8

#### Create an empty set called `set6`.

In [ ]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here